<h1>Nearest Station</h1>

<h2 class="name"><%= @station.name %></h2>
<ul class="station">
  <li class="address">Address: <%= @station.address %></li>
  <li class="address">Fuel Type: <%= @station.fuel_type %></li>
  <li class="address">Access Times: <%= @station.access_times %></li>
</ul>
